.sk-cube-grid {
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  background-color: white;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

#cuisines {
    margin: 5% 5%;
}

@font-face {
  font-family: 'BELLABOO-Regular';
  src: url('BELLABOO-Regular.eot') format('embedded-opentype'),
       url('BELLABOO-Regular.woff') format('woff'),
       url('BELLABOO-Regular.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #8C1C13;
}

.square {
  width: 220px;
  height: 200px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  text-align: center;
}

.box {
  outline: 3px solid white;
  border: 1px solid black;
}

#container {
  color: white;
  font-size: 0;
  margin: 5% auto;
}

.box .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s ease-in;
}

.overlay {
  z-index: 100;
  font-size: 20pt;
  display: none;
  padding-top: 30%; 
  line-height: 28px;
  vertical-align: middle;
}

.box:hover .overlay {
  display: inline-block;
}

.box:hover .bg {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  opacity: 0.5;
}

.box:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 20px #000;
}

h1, #container {
  text-align: center;
  margin: 5% auto;
}

h1 {
  background-size: 20% auto;
  background-image: url("http://sweetclipart.com/multisite/sweetclipart/files/pattern_picnic_cloth.png");
  font-size: 60pt;
  padding-bottom: 15px;
}

h1, div, span {
  font-family: 'BELLABOO-Regular';
  margin: 0;
  padding: 0;
}